.cartBox {
    box-shadow: 2px 2px 5px 1px #888888;
    width: 90%;
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    margin: 10px;
}

.singleProduct {
    box-shadow: 0px 4px 2px -2px darkgoldenrod;
    width: 60%;
    height: 180px;
    display: block;
    margin-top: 20px;
    float: left;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cartBox > :nth-child(2) {
    margin: 0;
}

.amount {
    margin-bottom: 8px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.wrapper > :nth-of-type(3){
    width: 90%;
    max-width: 34rem;
}

.testmeout {
    text-align: center;
}

.sidePanel {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    padding-left: 1rem;
    margin-top: 3rem;
}

.sidePanel h5 {
    text-align: left;
    margin-top:10px;
}

.sidePanel a:last-child {
    width: 95px;
    margin: 0 auto;
}

.cartBox hr {
    height: 1px; 
    width:auto;
    background-color: #ddd;
}

.hide {
    display: none;
}

.alignDeliveryType {
    width: 17rem;
}

.productImageInCart {
    width: 11rem;
    position: relative;
    float: left;
    max-height: 176px;;
}

.incDec {
    border-radius: 50%;
    background-color: rgba(184, 135, 11, 0.432);
    width: 30px;
    height: 30px;
    margin: 6px;
}

.quantities {
    display: flex;
    flex-direction: column;
    text-align: center;   
    flex-basis: 152px;
    flex-grow: 0;
    flex-shrink: 0;
}   

.deleteOrderButton {
    background-color: rgba(184, 135, 11, 0.432);
    border-radius: 30px;
    color: black;
    padding: 3px 25px;
    text-align: center;
    margin: 8px 0px;
    z-index: 5;
    overflow: auto;
}

.mobileDelete {
    display: none;
}

.discount {
    box-shadow: 0px 4px 2px -2px darkgoldenrod;
    border-radius: 30px;
    padding: 7px 16px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom:0.5rem;
}

.discount:hover {
    list-style-type: none;
    color: black;
    background-color: rgba(184, 135, 11, 0.432);
    text-decoration: none;
}

/* ------Delivery OPTIONS-------- */

.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    width: 17rem;
    font-size: 22px;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    height: 2rem;
    width: 17rem;
    box-shadow: 0px 4px 2px -2px darkgoldenrod;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: rgba(184, 135, 11, 0.432);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: rgba(184, 135, 11, 0.432);  
}

.warning {
    color: red;
    font-size: 1rem;
}

.emptyCart {
    padding-top:50px;
}


@media (max-width:860px) and (min-width:600px) {
    .sidePanel {
        width:30%;
    }
}

@media screen and (max-width: 600px) {
    .testmeout {
        width: auto;
    }

    .cartBox {
        width: 94%;
        padding: 5px;
        margin: 0;
        margin-bottom: 30px;

    }

    .singleProduct {
        width: 100%;
        margin-top: 2px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 50% 50%;
    }

    .singleProduct :first-child {
        width: 100%;
        grid-row-start: span 3;
    }

    
    .singleProduct h5 , .cartBox p:not(:first-child) {
        margin: 5px;
    }

    .singleProduct * {
        font-size: 14px;
        text-align: center;
    }

    .productImageInCart {
        width:6rem;
    }

    .amount {
        text-align: center;
        margin: 0px;
        display: none;
    }
    
    .sidePanel {
        display: block;
    }

    .quantities {
        display:block;
        position: static;
        float:inherit;
        text-align: center;
        margin-bottom: 5px;
        flex-basis: 0%;
    }

    .quantities .deleteOrderButton {
        display: none;
    }
   
    .mobileDelete {
        margin: auto;
        margin-top:5px;
        margin-bottom: 5px;
        display: block;
        width:25px;
        height: 25px;
    }

    .incDec{
        text-align: center;
    }

    /* Delivery options */
    .sidePanel * {
        font-size: 1rem;
    }
    .sidePanel .discount {
        font-size: 0.8rem;
    }
    .sidePanel {
        width: 100%;
        padding: 3px;
    }

    .sidePanel h4:last-child {
        text-align: center;
        font-weight: bold;
    }
    .sidePanel h4 {
        margin-top:1rem;
    }
    .sidePanel br {
        display: none;
    }

    .orderButton {
        margin-top: 20px;
        display:block;
    }
    .miniDescription {
        margin-top: 10px;
    }
    .miniDescription :last-child {
        display:none;
    }
}