*,
*::before,
*::after {
    box-sizing: border-box;
}

.productsContainer {
    display: inline-flex;
    width: 900px;
}

.isdeliojimas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.willWork {
    display:inline-flex;
    flex-direction: row;
}



.gridLayout {
    -ms-display: grid;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
}

.orderButton {
    border-radius: 30px;
    height: 2rem;
    padding:2px 30px;
    background-color: rgba(184, 135, 11, 0.432);
    margin: 0 auto;
    margin-bottom:0.5rem;
    display: block;
}

.orderButton a {
    margin:0px 20px;
}
.orderButton a:hover {
    color: black;
    text-decoration: none;
}

.detailedInfo {
    width:-moz-fit-content;
    width:max-content;
    display: grid;
    max-width: 780px;
    grid-template-columns: 80% 80px 80px;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    /* -webkit-user-select: none; */
    /* -moz-user-select: none; */
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #FFFFFF;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 940px) and (min-width: 600px) {
  
    .productsContainer {
        width: 600px;
    }
}

@media screen and (max-width:600px) {
    .App {
        width:100%;
    }

    .sorting br {
        display: none;
    }

    .sorting label {
        margin-right: 0.5rem;
    }
    .productsContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .isdeliojimas {
        justify-content: center;
    }

    .productBox {
        height: 250px;
        width: 150px;
        padding: 0;
        margin:2px 4px;
        box-shadow: 2px 2px 5px 1px #888888;

    }

    .productBox h1 {
        font-size: 14px !important;
    }
   
    .pagination {
        margin-bottom:0px;
    }

    .gridLayout {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
   
    .detailedInfo {
        grid-template-columns: 60% 60px 60px;
    }
 
}