*,
*::before,
*::after {
    box-sizing: border-box;
}

.productsContainer {
    display: inline-flex;
    width: 900px;
}

.isdeliojimas {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.willWork {
    display:inline-flex;
    flex-direction: row;
}
/* .productBox {
    box-shadow: 2px 2px 10px -5px #888888;
    width: 270px;
    height: 400px;
    display: block;
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
} */
/* .productBox p {
    margin-bottom: 0.5rem;
} */

.pagination {
    display: flex;
    text-align: center;
    margin-left: 30px;
    align-content: center;
}
/* d-flex flex-row align-items-center */
.paginationBrowser {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row; 

}


.productImage {
    width: 100%;
    max-height: 270px;
}

.fullDescription {
    width:780px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    text-align: left;
}

/* .mainProductInfo > * {
    padding-bottom: 1.5rem;
} */
.smallerGap > * {
    padding-bottom: 0;
}

.mainProductInfo {
    /* padding: 2rem; */
    margin-top: 2rem;
    display: flex;
    /* flex-wrap: nowrap; */
    /* align-content: center; */
    /* align-items: center; */
    flex-direction: column; 
}
.mainProductInfo h1{ 
    /* font-weight:bold; */
    font-size: 2.1rem;
    margin: 0
}
.mainProductInfo h3 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    /* font-weight: bold; */
}



.gridLayout {
    -ms-display: grid;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
}

.fullDescriptionImage {
    /* width:30rem; */
    width:100%;
    overflow: hidden;
}

#flavors {
    width:250px;
    margin-bottom: 10px;
    height:30px;
}

.orderButton {
    border-radius: 30px;
    height: 2rem;
    padding:2px 30px;
    background-color: rgba(184, 135, 11, 0.432);
    margin: 0 auto;
    margin-bottom:0.5rem;
    display: block;
}

.orderButton a {
    margin:0px 20px;
}
.orderButton a:hover {
    color: black;
    text-decoration: none;
}

.aboutProduct {
    grid-column-start: span 2;
    text-align: justify;
    width: 100%;
}


select {
    -webkit-appearance: button;
    -moz-appearance: button;
    /* -webkit-user-select: none; */
    /* -moz-user-select: none; */
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #FFFFFF;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 900px) and (min-width: 600px) {
    .fullDescription {
        width:599px;
    }
}

@media screen and (max-width:600px) {
    .App {
        width:100%;
    }

    .sorting br {
        display: none;
    }

    .sorting label {
        margin-right: 0.5rem;
    }
    .productsContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .isdeliojimas {
        justify-content: center;
    }

    .productBox {
        height: 250px;
        width: 150px;
        padding: 0;
        margin:2px 4px;
        box-shadow: 2px 2px 5px 1px #888888;

    }

    .productBox h1 {
        font-size: 14px !important;
    }
    .productImage {
        height: 150px;
        width: auto;
        margin-top: 5px;
    }
    .pagination {
        margin-bottom:0px;
    }

    .paginationBrowser h2, .paginationBrowser .current-page {
        font-size: 0.9rem;
    }
    .page-link {
        padding: 0.2rem 0.5rem;
        line-height: 1;
    }

    /* fullProductDescription css after screen size*/
    .fullDescription{
        /* display: flex; */
        justify-content: center;
        width: 94%;
        padding: 1rem;
    }

    .fullDescriptionImage {
        width:300px;
    }
    .gridLayout {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .mainProductInfo {
        padding: 0;
        display: grid;
        /* grid-template-columns: 100%; */
    }

    .mainProductInfo * {
        grid-column-start: span 2;
    }
    /* .mainProductInfo :last-child {
        grid-column-start: span 2;
    } */
    .mainProductInfo h1 {
        font-weight:bold;
    }

    .mainProductInfo h1, h3{
        /* color: red; */
        font-size: 1rem;
        padding: 0 !important;
    }

    .mainProductInfo :not(:last-child) {
        padding: 0px;
    }

    #flavors {
        width: 150px;
    }
    /* .orderSection {
        margin: 0 auto;
    } */
    .mainProductInfo :last-child {
        justify-self: center;
    }
}