.productBox {
    box-shadow: 5px 8px 15px 4px #888888 ;
    width: 270px;
    height: 400px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    margin: 10px;

}

.imgSize {
    max-width: 100%;
}

.productNav {
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    
}

