.about {
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    text-align: left;
    display:flex;
    flex-direction: column;
    grid-gap: 1rem;
    margin: 1rem auto;
}

.about h2 {
    text-align: center;
}
.about img{
    float: right;
    clear: right;
}

.about p {
    margin: 0;
}

.setWidth {
    max-width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .about {
        display: unset;
        margin: 0.5rem;
    }

    .about p {
        margin: 0.7rem;
    }
    .setWidth {
        display: unset;
    }
    .about img {
        float: right;
        margin: 5px;
    }
    .clear {
        clear:left;
        display:none;
    }
}
